*{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.wrapper{
    padding:20px;
}

.container{
    display: block;
    width:100%;
}

.table{
    display: table;
    table-layout: fixed;
    width:100%;
}

.table-cell{
    display: table-cell;
    width:auto;
    padding-right:20px;
}
.table-cell:last-child{
    padding-right:0;
}

.stk-panel{
    background-color:#fff;
    border-radius:2px;
    overflow:hidden;
    margin:20px 0 0 0;
    -webkit-box-shadow: 0px 8px 15px -8px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 8px 15px -8px rgba(0,0,0,0.42);
    box-shadow: 0px 8px 15px -8px rgba(0,0,0,0.42);
}
.stk-panel header{
    padding:5px 15px;
    border-bottom:2px solid #527cff;
    background-color: #6a8dff;
}
.stk-panel h2{
    color:#fff;
}
.stk-panel .panel-body{
    padding:25px;
    position:relative;
}

[data-ajax-overlay]{
    position:absolute;
    top:0;
    left:0;
    display: table;
    width:100%;
    text-align:center;
    z-index:99;
}
[data-ajax-overlay] > div{
    display:none;
    opacity:0;
}
[data-ajax-overlay].processing > div{
    display: table-cell;
    width:100%;
    height:100%;
    vertical-align: middle;
    font-size:35px;
    color:#555;
}
[data-ajax-overlay].visible > div {
    opacity:1;
    background-color:rgba(255, 255, 255, 0.75);
}


#stockists_meta .inside{
    margin:0;
    padding:0;
}
.stk-form-fields input,
.stk-form-fields select,
.panel-body input,
.panel-body select,
.stk-form-fields textarea,
.panel-body textarea{
    margin:0;
    padding:12px 10px;
    display:block;
    width:100%;
    max-width:100%;
}

textarea{
    min-height:200px;
}

.stk-form-fields > input:first-child{
    border:0;
    padding:15px 10px;
    font-size:16px;
}
.stk-form-fields input:first-child:focus{
    box-shadow:0;
    border-color:#eee;
}
.stk-form-fields fieldset{
    display: table;
    width:100%;
    table-layout:fixed !important;
    background-color:#f9f9f9;
}
.stk-form-fields fieldset div{
    display: table-cell;
    padding:15px;
    width:33%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.new-checkbox input[type="checkbox"],
.new-checkbox input[type="radio"]{
    display: none;
}
.checkbox-overwrite-parent{
    display: inline-block;
    border:2px solid #3e8eff;
    background-color:#fff;
    height:26px;
    width:26px;
    border-radius:200px;
    overflow:hidden;
    vertical-align: middle;
    margin-right:3px;
    position: relative;
    top:-2px;
    cursor:pointer;
}
.new-checkbox input[type="checkbox"] + div .checkbox-overwrite,
.new-checkbox input[type="radio"] + div .checkbox-overwrite  {
    background-color:#3e8eff;
    width:0;
    height:0;
}
.new-checkbox input[type="checkbox"]:checked + div .checkbox-overwrite,
.new-checkbox input[type="radio"]:checked + div .checkbox-overwrite {
    width: 18px;
    height: 18px;
    margin: 2px;
    border-radius:200px;
}
.new-checkbox small{
    font-size:16px;
}
.wrap .button.button-primary{
    background-color: #6a8dff;
    text-shadow:none !important;
    font-size:16px;
    padding:6px 14px;
    height:auto;
}
.button.button-primary:hover{
    background-color: #4670ff;
}

.panel-body ul {
    margin: 0;
    padding: 0;
}
.panel-body ul:after{
    clear:both;
    display:table;
    content:'';
    position:relative;
}
.panel-body li{
    float:left;
    width:100%;
    padding-right:25px;
    margin-bottom:15px;
}
.panel-body li label{
    display:block;
    width:100%;
    font-size:16px;
    line-height:36px;
}
.panel-body li.half{
    width:50%;
}
.panel-body li.full,
.panel-body li.right{
    float:right;
    padding-right:0;
}
.panel-body li.clear{
    clear:left;
}
.panel-body li.submit{
    text-align:right;
    margin:15px 0 0 0;
    padding:0;
}
.panel-body li.error{
    border-color:red;
}
.panel-body li.error span{
    color:red;
    line-height:30px;
}
.panel-body input{
    width:100%;
}